<div class="wrapper bg-white vh-100 d-flex">

    <app-left-sidebar 
      [triggeRrefreshProjectsOfSidebar]="triggeRrefreshProjectsOfSidebar"
      [isSidebarOpen]="isSidebarOpen"
      [currentWorkspace]="currentWorkspace"
      [availableWorkspaces]="availableWorkspaces"
      [isCreateWorkspaceModalOpen]="isCreateWorkspaceModalOpen"
      [newWorkspaceName]="newWorkspaceName"
      (sidebarToggle)="onSidebarToggle()"
      (sidebarClose)="onSidebarClose()"
      (createWorkspaceModalOpen)="onCreateWorkspaceModalOpen()"
      (createWorkspaceModalClose)="onCreateWorkspaceModalClose()"
      (workspaceCreate)="onWorkspaceCreate($event)"
      (workspaceNameChange)="onWorkspaceNameChange($event)"
      (addTaskModalOpen)="openAddTaskModal()"
      (addEventModalOpen)="openAddEventModal()"
      (addProjectModalOpen)="openAddProjectModal()"
    />

    <div class="content-wrapper vh-100 d-flex flex-grow-1 flex-column">

      <!-- Header Component -->
      <app-header
        [appTitle]="appTitle"
        [currentUser]="currentUser"
        [isUserProfileDropdownOpen]="isUserProfileDropdownOpen"
        (toggleSidebar)="onToggleSidebar()"
        (toggleUserProfileDropdown)="onToggleUserProfileDropdown()"
        (closeUserProfileDropdown)="onCloseUserProfileDropdown()"
        (openProfileSettings)="onOpenProfileSettings()"
        (logout)="onLogout()"
      />
      
      <!-- Content Area -->
      <router-outlet/>

    </div>
  
    <!-- Add Event Modal -->
    <app-create-event
      [isAddEventModalOpen]="isAddEventModalOpen"
      (isAddEventModalClose)="onCloseAddEventModal()"
    />
  
    <!-- Add Task Modal -->
    <app-create-task 
      [isAddTaskModalOpen]="isAddTaskModalOpen"
      (isAddTaskModalClose)="onCloseAddTaskModal()"
    />
  
    <!-- Create Workspace Modal -->
    <app-create-workspace
      [isCreateWorkspaceModalOpen]="isCreateWorkspaceModalOpen"
      [availableWorkspaces]="availableWorkspaces"
      (closeWorkspaceModal)="closeCreateWorkspaceModal()"
    />

    <!-- Create Project Modal -->
    <app-create-project
      [isAddProjectModalOpen]="isAddProjectModalOpen"
      (addProjectModalClose)="onCloseAddProjectModal()"
      (refreshProjectsOfSidebar)="onTriggeRrefreshProjectsOfSidebar()"
    />
  </div>
