<div class="wrapper bg-white vh-100 d-flex">

    <app-left-sidebar 
      [isSidebarOpen]="isSidebarOpen"
      [currentWorkspace]="currentWorkspace"
      [availableWorkspaces]="availableWorkspaces"
      [isWorkspaceDropdownOpen]="isWorkspaceDropdownOpen"
      [isCreateWorkspaceModalOpen]="isCreateWorkspaceModalOpen"
      [newWorkspaceName]="newWorkspaceName"
      (sidebarToggle)="onSidebarToggle()"
      (sidebarClose)="onSidebarClose()"
      (workspaceDropdownToggle)="onWorkspaceDropdownToggle()"
      (workspaceDropdownClose)="onWorkspaceDropdownClose()"
      (workspaceSwitch)="onWorkspaceSwitch($event)"
      (createWorkspaceModalOpen)="onCreateWorkspaceModalOpen()"
      (createWorkspaceModalClose)="onCreateWorkspaceModalClose()"
      (workspaceCreate)="onWorkspaceCreate($event)"
      (workspaceNameChange)="onWorkspaceNameChange($event)"
      (addTaskModalOpen)="onAddTaskModalOpen()"
      (addEventModalOpen)="onAddEventModalOpen()"
    />

    <div class="content-wrapper vh-100 d-flex flex-grow-1 flex-column">
      <app-header
        [currentUser]="currentUser"
        [isUserProfileDropdownOpen]="isUserProfileDropdownOpen"
        (toggleSidebar)="onToggleSidebar()"
        (toggleUserProfileDropdown)="onToggleUserProfileDropdown()"
        (closeUserProfileDropdown)="onCloseUserProfileDropdown()"
        (openProfileSettings)="onOpenProfileSettings()"
        (logout)="onLogout()"
      />
      
      <!-- Content Area -->
      <router-outlet></router-outlet>
    </div>
  
    <!-- Add Event Modal -->
    <app-create-event
      [isAddEventModalOpen]="isAddEventModalOpen"
      (isAddEventModalClose)="onCloseAddEventModal()"
    />
  
    <!-- Add Task Modal -->
    <app-create-task 
      [isAddTaskModalOpen]="isAddTaskModalOpen"
      (isAddTaskModalClose)="onCloseAddTaskModal()"
    />
  
    <!-- Create Workspace Modal -->
    <app-create-workspace
      [isCreateWorkspaceModalOpen]="isCreateWorkspaceModalOpen"
      [availableWorkspaces]="availableWorkspaces"
      [currentWorkspace]="currentWorkspace"
      [newWorkspaceName]="newWorkspaceName"
      (closeWorkspaceModal)="closeWorkspaceDropdown()"
    />
  </div>
  