<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="card" style="width: 600px; border-radius: 15px; box-shadow: 0px 0px 5px #cecbcb;">
    <div class="card-body">
      <div class="text-center mb-5">
        <h2 class="mb-3">TaskNest</h2>
        <h5 class="card-title">Registration</h5>
        <p class="card-text">Please enter your details for registration.</p>
      </div>
      <form class="mb-3" (ngSubmit)="onRegister()">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="enteredFirstName">
              @if (firstNameError) {
                <span class="text-danger">{{ firstNameError }}</span>
              }
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="enteredLastName">
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="emailAddress" class="form-label">Email address</label>
          <input type="email" class="form-control" id="emailAddress" name="emailAddress" aria-describedby="emailHelp" [(ngModel)]="enteredEmailAddress">
          @if (emailAddressError) {
            <span class="text-danger">{{ emailAddressError }}</span>
          }
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="enteredPassword">
          @if (passwordError) {
            <span class="text-danger">{{ passwordError }}</span>
          }
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="enteredConfirmPassword">
          @if (confirmPasswordError) {
            <span class="text-danger">{{ confirmPasswordError }}</span>
          }
        </div>
        <button type="submit" class="btn btn-primary col-12">Register</button>
      </form>
      <p class="text-center">Already have an account? <a routerLink="/login" class="">Login here</a></p>
    </div>
  </div>
</div>
